<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CULPA REVIEWS!!!!!!!</title>
  </head>
  <body>
    <h1>CULPA REVIEWS</h1>
    <p>Use this app to help determine how good that professor is!!!!</p>
    <h2>Put in the <em> culpa.info</em> link for the professor you want to review!
      <form action="/results" method="POST">
	<input type="text" placeholder="a culpa link!!! " name="link" required/>
    </h2>
     <p>
      <input type="submit" value="SUBMIT" />
    <p>
    </form>
    
  </body>
<html>
